<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<!-- vue -->
<script src="https://cdn.bootcss.com/vue/2.6.11/vue.js"></script>
</meta>

<head>
    <style>

    </style>
</head>

<body>
    <div class="box" id="app">
        <input type="text" v-model="password" @input="onInput" @focus="onfocus" @blur="onblur" placeholder="请输入密码" />
        <!-- 验证信息 -->
        <div class="error" v-if="!blur">
            <p> <span v-show="errShow.length">√</span> 密码长度不小于8位</p>
            <p> <span v-show="errShow.repeat">√</span> 密码不允许连续重复3个字符</p>
            <p><span v-show="errShow.upper">√</span>密码必须包含大写字母(A-Z)</p>
            <p><span v-show="errShow.lower">√</span>密码必须包含小写字母(a-z)</p>
            <p><span v-show="errShow.number">√</span>密码必须包含数字(0-9)</p>
            <p><span v-show="errShow.special">√</span>密码必须包含特殊字符(~,!,@,#,$,%,^)</p>
        </div>
        <div error v-else>
            <p>{{errmsg}}</p>
        </div>
    </div>
    </div>
    <script>
        new Vue({
            el: '#app',
            data: {
                password: '',
                blur:true,
                errmsg:'',
                errShow:{
                    length: false,
                    repeat: false,
                    upper: false,
                    lower: false,
                    number: false,
                    special: false
                },
                validateList:[
                    {name:'length',msg:'密码长度不小于8位'},
                    {name:'repeat',msg:'密码不允许连续重复3个字符'},
                    {name:'upper',msg:'密码必须包含大写字母(A-Z)'},
                    {name:'lower',msg:'密码必须包含小写字母(a-z)'},
                    {name:'number',msg:'密码必须包含数字(0-9)'},
                    {name:'special',msg:'密码必须包含特殊字符(~,!,@,#)'}
                ]
            },

            methods: {
                onInput(){
                    this.blur = false
                    this.validatePassword()
                },
                onfocus(){
                    this.blur = false
                    this.validatePassword()
                },
                onblur(){
                    this.blur = true
                    this.validatePassword()
                },
                validatePassword() {
                    const password = this.password;
                    // 密码长度不小于8位
                    const lengthRegex = /^.{8,}$/;
                    // 密码不允许连续重复3个字符
                    const noThreeConsecutive = /^(?!.*(.)\1{2})/;
                    // 密码必须包含大写字母(A-Z)
                    const hasUpperCase = /(?=.*[A-Z])/;
                    // 密码必须包含小写字母(a-z)
                    const hasLowerCase = /(?=.*[a-z])/;
                    // 密码必须包含数字(0-9)
                    const hasNumber = /(?=.*\d)/;
                    // 密码必须包含特殊字符(~,!,@,#,$,%,^)
                    const hasSpecialChar = /(?=.*[~!@#$%^])/;

                    this.errShow.length = lengthRegex.test(password);
                    this.errShow.repeat = noThreeConsecutive.test(password);
                    this.errShow.upper = hasUpperCase.test(password);
                    this.errShow.lower = hasLowerCase.test(password);
                    this.errShow.number = hasNumber.test(password);
                    this.errShow.special = hasSpecialChar.test(password);
                    if(!this.errShow.length){
                        this.errmsg = '密码长度不小于8位'
                    }else if(!this.errShow.repeat){
                        this.errmsg = '密码不允许连续重复3个字符'
                    }else if(!this.errShow.upper){
                        this.errmsg = '密码必须包含大写字母(A-Z)'
                    }else if(!this.errShow.lower){
                        this.errmsg ='密码必须包含小写字母(a-z)'
                    }else if(!this.errShow.number){
                        this.errmsg = '密码必须包含数字(0-9)'
                    }else if(!this.errShow.special){
                        this.errmsg = '密码必须包含特殊字符(~,!,@,#,$,%,^)'
                    }else{
                        this.errmsg = ''
                    }

                    this.list = this.list.map(item=>{
                        let obj = {}
                        if(item=='密码长度不小于8位'){
                            obj.key = 'length'
                            obj.show = false
                        }
                        return obj
                    })
                }
            }
        })






    </script>
</body>

</html>